.pagination {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: flex-end;

    @media (max-width: 950px) {
        justify-content: center;
    }

    &-item {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #E5E5E5;
        border-radius: 4px;

        font-family: var(--font-family-ceraPro);
        font-weight: 300;
        font-size: 18px;
        line-height: 16px;
        color: #3D3D3D;

        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
            background: #E5E5E5;
        }

        &.active {
            background: #46A358;
            border: none;
            color: #fff;
            font-weight: 700;
            transition: background 0.2s ease-in-out;

            &:hover {
                background: #266933;
            }
        }
    }


}