.item {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-video {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        background: #eeeeee;
    }

    &:nth-child(2n) {
        align-self: flex-end;
    }
}