.card {
    background: #FBFBFB;
    max-width: 268px;
    border-radius: 14px;
    overflow: hidden;
    
    &-row {
        max-width: 100%;
        width: 100%;
        display: flex;
    }

    &-preview {
        overflow: hidden;
        height: 200px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-info {
        padding: 10px;
    }

    &-time {
        font-family: var(--font-family-primary);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--color-primary);
    }

    &-title {
        font-family: var(--font-family-primary);
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #3d3d3d;
        margin-top: 5px;
    }

    &-description {
        margin-top: 5px;
        font-family: var(--font-family-primary);
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #727272;
    }

    &-link {
        margin-top: 10px;
        display: flex;
        align-items: center;
        text-decoration: none;

        &-text {
            font-family: var(--font-family-primary);
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #3d3d3d;
        }

        &-arrow {
            width: 16px;
            height: 16px;
        }
    }
}