.page {

    &-products {
        position: relative;
        display: flex;
        gap: 18px;

        &-list {
            display: flex;
            flex-direction: column;
            gap: 14px;
            flex: 1;
        }
    }

    &-sidebar {
        flex-shrink: 0;
        flex-basis: 310px;
        height: max-content;
        position: sticky;
        top: 20px;
    }
}