.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;

    &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 70px;
        list-style: none;
        align-items: center;
        justify-content: center;
    }
}