.layout {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    @media (max-width: 1250px) {
        width: 100%;
        padding: 0 16px;
    }
}