.modal {
    &-wrapper {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(10, 13, 18, .25);
        width: 100%;
        height: 100%;
    }

    &-container {
        margin: 0 auto;
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    &-content {
        width: 100%;
        height: max-content;
        background: #FFFFFF;
        overflow-y: auto;
        border-bottom: 10px solid var(--color-primary);
        padding: 14px;
    }
}